* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  background-color: #000;
  color: #fff;
}
.container {
  display: flex;
  column-count: 3;
  justify-content: space-around;
  align-items: flex-start;
}
.title {
  font-size: 4rem;
  padding: 30px 0;
}
.img-palestra {
  width: 100%;
}
.palestra {
  text-align: center;
  min-height: 615px;
  padding: 20px;
  padding-bottom: 10px;
}
.palestra:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 5px solid #136497;
  border-radius: 20%;
}
.vs {
  text-align: center;
  padding-top: 140px;
  min-height: 640px;
}
.center {
  text-align: center;
  position: relative;
}
.ma-3 {
  margin: 20px;
}
.fixed {
  position: fixed;
  bottom: 10px;
  width: 96%;
}
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}

.centralize--text {
  text-align: center !important;
}

div .btn-link {
  color: #6324f6;
  font-weight: 700;
  text-decoration: none;
}
