<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Próximos Eventos</h1>
    <ul>
      {% for evento in eventos %}
      <li>
        <h3>
          <a href="{% url 'palestras.pagina.votacao' %}">{{ evento.nome }}</a>
        </h3>
        <p>
          <a href="{% url 'palestras.pagina.votacao.poc2' %}">Votação POC 2</a>
        </p>
        <p>{{ evento.data }}</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
