{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Votação</title>
  </head>
  <body>
    <h1 class="center title">Hora da Batalha</h1>
    <div class="container">
      <div class="palestra">
        <h3>John Doe</h3>
        <img
          src="{% static 'palestras/imagens/avatar1.png' %}"
          width="190"
          alt=""
        />
        <h3>O Futuro do metaverso</h3>
        <img
          class="img-palestra"
          src="{% static 'palestras/imagens/palestra1.jpg' %}"
          alt=""
        />
      </div>
      <div class="vs">
        <img src="{% static 'palestras/imagens/vs.png' %}" width="120" alt="" />
      </div>
      <div class="palestra">
        <h3>Erick Clapton</h3>
        <img
          src="{% static 'palestras/imagens/avatar1.png' %}"
          width="190"
          alt=""
        />
        <h3>Django e Realidade aumentada</h3>
        <img
          class="img-palestra"
          src="{% static 'palestras/imagens/palestra2.jpg' %}"
          alt=""
        />
      </div>
    </div>
    <div class="ma-3 fixed">
      <a href="{% url 'palestras.pagina.votacao.concluida' %}" class="button-63"
        >VOTAR</a
      >
    </div>
  </body>
</html>
