{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'palestras/css/style.css' %}"
    />
    <title>Votação concluída</title>
  </head>
  <body>
    <div class="container--concluido">
      <div class="">
        <h1 class="title centralize--text">Votação concluída</h1>
      </div>
      <div class="ma-3">
        <a
          href="{% url 'palestras.pagina.votacao' %}"
          class="button-63 centralize--text"
          >Ver próxima batalha</a
        >
      </div>
      <div class="ma-3 centralize--text">
        <p class="change-form-p text-center">
          Quer parar com as batalhas?
          <a class="btn-link" href="{% url 'palestras.pagina.eventos' %}"
            >Clique aqui.</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
